@model IEnumerable<Biblioteca.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Authors</th>
        <th>
            @Html.DisplayNameFor(model => model.YearReleased)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var authors = String.Join(", ", item.Authors.Select(author => author.FirstName + " " + author.LastName));
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BookID })
                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
                }
            </td>
        </tr>
    }

</table>
