@model IEnumerable<Biblioteca.Models.Rent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            Book
        </th>
        <th>
            Customer
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var startDate = item.DateStart.ToString("MMM d, yyyy");
    var endDate = item.DateEnd.ToString("MMM d, yyyy");
    var returnedDate = item.DateReturned != null ? ((DateTime) (item.DateReturned)).ToString("MMM d, yyyy") : "";
    var customerName = item.Customer.LastName + " " + item.Customer.FirstName;
    var today = DateTime.Today;
    var bookString = item.BookCopy.Book.Name + " #" + item.CopyID;
<tr>
    <td>
        @Html.DisplayFor(modelItem => startDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => endDate)
    </td>
    <td>
        @Html.ActionLink(bookString, "Details", "Books", new { id = item.BookCopy.BookID }, null)
    </td>
    <td>
        @Html.ActionLink(customerName, "Details", "Customers", new { id = item.Customer.CustomerID }, null)
    </td>
    <td>
        @if (item.IsReturned) // Available Cell
        {
            <span class="label label-success">Returned on @returnedDate</span>
        }
        else
        {
            if (today > item.DateEnd)
            {
                <span class="label label-danger">Expired</span>
            }
            else
            {
                if ((item.DateEnd - DateTime.Today).TotalDays <= 3)
                {
                    <span class="label label-warning">Ends soon</span>
                }
                else
                {
                    <span class="label label-default">Not returned</span>
                }
            }
        }
    </td>
    <td>
        @if (!item.IsReturned)
        {
            @Html.ActionLink("Extend", "Extend", new { id = item.RentID })
            <span>|</span>
            @Html.ActionLink("Mark returned", "Return", new { id = item.RentID })
            <span>|</span>
        }

    </td>
</tr>
}

</table>
